<!DOCTYPE thml>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Web App</title>
    <link rel= "stylesheet" type= "text/css" href= "/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" >
</head>
<body>
    <div class="main">
        <img src="/images/image.png"/>
        <div class="content">
        <div id="message">
            {{message}}
        </div>
        <div id="info">
            <table>
            <tr>
                <th>Pod/container/host that serviced this request:</th>
                <td>{{ hostName }}</td>
            </tr>
            </table>  
        </div>
    </div>
</body>
</html>